h2,h4{
    text-align: center;
}
/* h4{
    text-align: center;
} */
form{ 
    text-align: center;
}
ul{
    text-align: center;
}
li{
    background-color: powderblue; 
    margin: 20px; 
    display: inline-block;
}
.delete {
    list-style: none;
    padding-left: 0px;
}
img{
    width: 200px;
    height: 200px;
}